{% extends 'usuarios.html' %}

{% block 'modalDelete' %} 
    <div class="container">
        <div class="modal-dialog py-5">
          <div class="modal-content p-3">
            <div class="modal-body">
                <div class="row p-1">
                    <div class="col-2">
                        <img class="img-fluid" src="https://img.icons8.com/color/344/delete-forever.png">
                    </div>
                    <div class="col">
                        <h5 class="modal-title">Deseja deletar <span class="text-danger fw-bold">{{user.get_username}}</span> ?</h5>
                        <p class="py-3 pe-5 text-black-50">Se confirmado, esse processo não poderá ser revertido. As tarefas criadas por esse usuário <span class="fw-bold">não</span> serão deletadas.</p>
                    </div>
                    <div class="col-1">
                        <a href="/dashboard/usuarios"><button type="button" class="btn-close" aria-label="Close"></button></a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <a href="/dashboard/usuarios"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button></a>
              <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Deletar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}