{% extends 'base.html' %}
{% load static %}
{% block title %}Equipe{% endblock %}

{% block content %}
<div class="container mx-auto w-10">
    <div class="row justify-content-center align-items-center my-5">
        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3 align-self-center">
            <h6>Sobre o projeto<br>Cultura Digital Itu</h6>
        </div>
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <h1>Sobre o projeto</h1>
            <p class="pt-3">O projeto Cultura Digital Itu integra tecnologia e educação para crianças no ensino
                fundamental. Ele foi desenvolvido com o objetivo de oferecer acesso a uma ampla variedade de conteúdo
                educacional de forma gratuita e acompanhada por um time de professores e especialistas em educação. O
                CDI é uma plataforma controlada para que as crianças possam explorar os recursos digitais de forma
                segura.</p>
            <p>O projeto é baseado em um repositório digital que contém uma variedade de materiais didáticos, como
                vídeos, atividades interativas e jogos educativos, todos selecionados e organizados de acordo com o
                currículo escolar. Além disso, o projeto também oferece acompanhamento pedagógico online, com
                professores disponíveis para esclarecer dúvidas e orientar o progresso dos alunos.</p>
        </div>
    </div>
    <div class="row justify-content-center align-items-center py-5">
        <div class="col-10 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <img src="https://img.freepik.com/free-vector/children-enjoying-music-class_74855-6298.jpg?w=2000"
                class="img-fluid" alt="...">
        </div>
        <div class="col-10 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 ps-5">
            <h1>SOBRE NÓS</h1>
            <h6 class="fw-normal pt-3">Essa plataforma é o resultado de um trabalho de meses dos alunos de Analise e
                Desenvolvimento de sistemas da Fatec Itu Dom Amaury Castanho, conheça a nossa <a href="/equipe"
                    class="text-reset attribute"> equipe</a>. O repositório é alimentado mensalente pelos estagiários de
                tecnologia da informação da secretaria da educação de Itu.</h6>
            <h6 class="fw-normal pt-3">Todo o conteúdo é previamente analisado antes de ficar disponivel ao públido por
                especialistas em educação para garantir que o conteúdo do projeto esteja alinhado com as normas e
                padrões escolares, bem como por desenvolver estratégias e planos de ensino para as turmas da educação
                fundamental</h6>
        </div>
    </div>
    {% endblock %}