{% extends 'base.html' %}
{% load static %}
{% block title %}Equipe{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 text-center">
        <h1>Equipe CDI</h1>
        <p>Nosso time de desenvolvimento da plataforma.</p>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <img src="{% static 'img/profilePics/gabeProfile.jpeg' %}" class="img-fluid"
                style="width: 24rem; border-radius: 0.8rem;">
        </div>
        <div class="col-10 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 p-7 rounded bg-white shadow-sm">
            <h1>Gabrielle S. Oliveira</h1>
            <h6>Design e desenvolvimento</h6>
            <div class="gx-1">
                <a href="https://www.linkedin.com/in/gabrielle040/"><img
                        src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px"></a>
                <a href="https://github.com/httpsGabrielle"><img src="https://img.icons8.com/windows/512/github.png"
                        style="width: 24px"></a>
                <a href="https://www.instagram.com/gabbi_oliveira008/"><img
                        src="https://img.icons8.com/ios-glyphs/512/instagram-new.png" style="width: 24px"></a>
            </div>
            <p class="pt-5">Responsavel pelo desenvolvimento e design da plataforma.</p>
        </div>
    </div>
    <div class="row align-items-center justify-content-center py-3 text-end">
        <div class="col-10 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 p-3 rounded bg-white shadow-sm">
            <h1>Ana Beatriz Barbieri</h1>
            <h6>Gerenciamento do projeto.</h6>
            <div class="gx-1 justify-content-end">
                <a href="https://www.linkedin.com/in/ana-beatriz-barbieri/"><img
                        src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px"></a>
                <a href="https://github.com/anabarbieri01"><img src="https://img.icons8.com/windows/512/github.png"
                        style="width: 24px"></a>
            </div>
            <p class="pt-5">Responsavel pelo gerenciamento e desenvolvimento do projeto.</p>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <img src="{% static 'img/profilePics/anaB.jpeg' %}" class="img-fluid"
                style="width: 24rem; border-radius: 0.8rem;">
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <img src="https://customercare.igloosoftware.com/.api2/api/v1/communities/10068556/previews/thumbnails/4fc20722-5368-e911-80d5-b82a72db46f2?width=680&height=680&crop=False"
                class="img-fluid" style="width: 24rem; border-radius: 0.8rem;">
        </div>
        <div class="col-10 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 p-3 rounded bg-white shadow-sm">
            <h1>Matheus Barth</h1>
            <h6>Desenvolvimento do projeto.</h6>
            <div class="gx-1">
                <a href="https://www.linkedin.com/math7b"><img
                        src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px"></a>
                <a href="https://www.github.com/math7b"><img src="https://img.icons8.com/windows/512/github.png"
                        style="width: 24px"></a>
            </div>
            <p class="pt-5">Suporte ao desenvolvimento.</p>
        </div>
    </div>
    <div class="row align-items-center justify-content-center py-3 text-end">
        <div class="col-10 col-sm-7 col-md-7 col-lg-7 col-xl-7 col-xxl-7 p-3 rounded bg-white shadow-sm">
            <h1>Genis</h1>
            <h6>Desenvolvimento.</h6>
            <div class="gx-1 justify-content-end">
                <a href="linkedin.com/in/genis-fatec-b8a5a434"><img
                        src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px"></a>
                <a href="https://github.com/genis67"><img src="https://img.icons8.com/windows/512/github.png"
                        style="width: 24px"></a>
            </div>
            <p class="pt-5">Suporte ao desenvolvimento</p>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
            <img src="https://customercare.igloosoftware.com/.api2/api/v1/communities/10068556/previews/thumbnails/4fc20722-5368-e911-80d5-b82a72db46f2?width=680&height=680&crop=False"
                class="img-fluid" style="width: 24rem; border-radius: 0.8rem;">
        </div>
    </div>
</div>
{% endblock %}