{% extends 'base.html' %}
{% load static %}
{% block title %}Equipe{% endblock %}

{% block content %}
<div class="container mx-auto w-50">
    <div class="row my-5 text-center">
        <h1>Equipe CDI</h1>
        <p>Nosso time de desenvolvimento da plataforma.</p>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="{% static 'img/profilePics/gabeProfile.jpeg' %}" class="img-fluid" style="width: 24rem; border-radius: 0.8rem;">
        </div>
        <div class="col p-3 rounded bg-white shadow-sm">
            <h1>Gabrielle S. Oliveira</h1>
            <h6>Design e desenvolvimento</h6>
            <div class="row gx-1">
                <img src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px">
                <img src="https://img.icons8.com/windows/512/github.png" style="width: 24px">
                <img src="https://img.icons8.com/ios-glyphs/512/instagram-new.png" style="width: 24px">
            </div>
            <p class="pt-5">Responsavel pelo desenvolvimento e design da plataforma.</p>
        </div>
    </div>
    <div class="row py-3 text-end">
        <div class="col p-3 rounded bg-white shadow-sm">
            <h1>Outros membros</h1>
            <h6>Gerenciamento do projeto.</h6>
            <div class="row gx-1 justify-content-end">
                <img src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px">
                <img src="https://img.icons8.com/windows/512/github.png" style="width: 24px">
                <img src="https://img.icons8.com/ios-glyphs/512/instagram-new.png" style="width: 24px">
            </div>
            <p class="pt-5">Responsavel pelo gerenciamento do projeto e da equipe.</p>
        </div>
        <div class="col-3">
            <img src="https://cdn.leroymerlin.com.br/products/papel_de_parede_para_studio_ou_ambientes_corporativos_cor_cin_1567633440_030d_600x600.jpg" class="img-fluid" style="width: 24rem; border-radius: 0.8rem;">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <img src="https://cdn.leroymerlin.com.br/products/papel_de_parede_para_studio_ou_ambientes_corporativos_cor_cin_1567633440_030d_600x600.jpg" class="img-fluid" style="width: 24rem; border-radius: 0.8rem;">
        </div>
        <div class="col p-3 rounded bg-white shadow-sm">
            <h1>Outros membros</h1>
            <h6>Lorem ipsum</h6>
            <div class="row gx-1">
                <img src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px">
                <img src="https://img.icons8.com/windows/512/github.png" style="width: 24px">
                <img src="https://img.icons8.com/ios-glyphs/512/instagram-new.png" style="width: 24px">
            </div>
        <p class="pt-5">Suporte ao desenvolvimento.</p>
    </div>
    <div class="row py-3 text-end">
        <div class="col p-3 rounded bg-white shadow-sm">
            <h1>Outros membros</h1>
            <h6>Gerenciamento do projeto.</h6>
            <div class="row gx-1 justify-content-end">
                <img src="https://img.icons8.com/ios-glyphs/512/linkedin-circled.png" style="width: 24px">
                <img src="https://img.icons8.com/windows/512/github.png" style="width: 24px">
                <img src="https://img.icons8.com/ios-glyphs/512/instagram-new.png" style="width: 24px">
            </div>
            <p class="pt-5">Responsavel pelo gerenciamento do projeto e da equipe.</p>
        </div>
        <div class="col-3">
            <img src="https://cdn.leroymerlin.com.br/products/papel_de_parede_para_studio_ou_ambientes_corporativos_cor_cin_1567633440_030d_600x600.jpg" class="img-fluid" style="width: 24rem; border-radius: 0.8rem;">
        </div>
    </div>  
</div>
{% endblock %}
