{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex vh-100 align-items-center justify-content-center h-100">
    <div class="col-6">
        <h1>Bem-vindo(a) ao Cultura Digital Itu!</h1>
        <h6>Tenha acesso a diversos conteúdos digitais para seus alunos</h6>
        <div class="btn-container py-3">
            <a href="tarefas/"><button class="btn btn-success btn-sm">Aprender</button></a>
        </div>
    </div>
    <div>
        <img class="img-fluid" src="{% static 'img/images/teacher.svg' %}">
    </div>
</div>

{% endblock %}