body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
p{
    font-family: 'Lato', sans-serif;
}
.opacity-0{
    opacity: 0;
}
h1{
    font-size: 2.25em;
    font-weight: bold;
}
h2{
    font-size: 2em;
    font-weight: normal;
}
button, input, td{
    font-family: 'Lato', sans-serif;
}
.view{
    background-image: url("../img/background/Vector.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100vh;
}
.headerschool{
    background-image: url("../img/background/schoolbkg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100vw;
    border-radius: 24px;
}
.headerHome{
    border-radius: 24px;
    background-color: #5742c1;
    background-image: url("../img/images/professor-com-alunos.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50vh;
    border-radius: 24px;
}
.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.bg-menucolor{
    background-color: #f9f9f9;
}
.bg-green{
    background-color: #5e963f;
}
.text-gray{
    color:#7d7d7d;
}
.bg-footer{
    background-color: #2c5746;
}
.copyrightMark{
    border-top: 1px solid #416859;
    color: #56796b;
}
.menuItem:hover {
    font-weight: bolder;
    color: black;
    background-color:#e0e0e0;
}
.menuItem:active{
    font-weight: bolder;
    color: black;
    background-color:#e0e0e0;
}
.link-secondary:hover{
    font-weight: bolder;
    color: black;
    background-color:#e0e0e0;
}

.btn-green{
    background-color:#18a770;
    color: #f9f9f9;
}

.itemsNavbar:hover{
    border-bottom: 2px solid #18a770;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid #18a770;
}

#card_01{
    background-image: url("../img/images/children_PNG.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25vh;
    border-radius: 24px;
}
#card_02{
    background-image: url("https://img.icons8.com/external-smashingstocks-thin-outline-smashing-stocks/512/external-Toys-education-smashingstocks-thin-outline-smashing-stocks.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 25vh;
    border-radius: 24px;
}

@media only screen and (max-width: 800px){
    .main{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: auto;
    }
    .main-title{
        display: flex;
        text-align: center;
    }
}
